@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

.custom-img {
  background-image: url("../public/images/mansa-nzinga-transparent.png");
  background-color: black;
  background-size: 100%; /* Adjust this value as needed */
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 50px;
}
/* Mobile styles */
@media (max-width: 767px) {
  .custom-img {
    background-image: url("/images/mansa-nzinga-transparent.png"); /* Adjust path if needed */
    background-size: cover; /* or any other appropriate value */
    background-position: center center;
    background-repeat: no-repeat;
  }

  .custom-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); /* Adjust opacity with the last value, between 0 and 1 */
    z-index: 1;
  }

  /* Ensure the content of .custom-img is above the overlay */
  .custom-img * {
    position: relative;
    z-index: 2;
  }
}

.work-page-bg {
  background-color: #000; /* Set the background color to black */
  color: #fff; /* Set the text color to white */
  padding-top: 60px;
}

.about-page-bg {
  background-color: #000; /* Set the background color to black */
  color: #fff; /* Set the text color to white */
}
